@import 'vars';

@mixin darkMode() {
  :global(.🌚) {
    @content;
  }
}

* {
  transition: background-color 500ms ease-in;
}

@include darkMode() {
  background-color: $dark-background;
  * {
    color: $dark-color;
  }
}
