@import './vars';

$selection_color: $accent;

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/VT323-Regular.woff2') format('woff2');
}

* {
  font-family: 'VT323', monospace;
  &::selection {
    background-color: $selection_color;
  }
}
