@import 'styles/_vars';
@import 'styles/_dark';

.wrapper {
  display: inline-block;
  width: 2em;
  text-align: center;
}

.label {
  &::before,
  &::after {
    line-height: 1;
  }
  display: block;
  &::before {
    content: '🌑';
    display: inline;
  }
  &::after {
    display: none;
    content: '️️☀️';
  }
}

.input {
  display: none;
  &:checked + .label {
    &::before {
      display: none;
    }
    &::after {
      display: inline;
    }
  }
}
