@import 'styles/_vars';

$grid-gap: $spacing * 2;
$grid-min-value: $spacing * 23;
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($grid-min-value, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: $grid-gap;
  // Temporal
  max-width: $grid-breakpoints-lg;

  &::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  & > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
}
