@import 'styles/_vars';
@import 'styles/_dark';

$container-padding: $spacing * 2;
$container-background: $light-background;
$container-color: $light-color;

$dark-container-background: $dark-background;
$dark-container-color: $dark-color;

.container {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  padding: $container-padding;
  background-color: $container-background;
  color: $container-color;
}

.list {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.element {
  list-style: none;
  text-align: center;
}

.link {
  color: inherit;
}

@include darkMode() {
  .container {
    background-color: $dark-container-background;
    color: $dark-container-color;
  }
}
